.link-lib-mask
  position fixed
  left 0
  top 0
  right 0
  bottom 0
  background-color #373737
  background-color rgba(55,55,55,.6)
  height 100%
  z-index 1000
  filter:'alpha(opacity=50)'

.link-lib-mask-hidden
  display none

.link-lib-modal-wrapper
  position fixed
  overflow auto
  z-index 10000
  left 0
  top 0
  bottom 0
  right 0

.link-lib-modal
  position relative
  width auto
  margin 0 auto
  top 100px

.link-lib-modal-vertical
  display flex
  align-items center
  justify-content center
  .link-lib-modal
    top 0